*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1100px;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: "Raleway", Arial, sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}